@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'MaPolicePerso';
src: url('fonts/dancing.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}